/**
* ! changing default styles of browser
**/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;

    /* background-image */
    background-image:  
    linear-gradient(to bottom,  #cbcaa5e8, #334d50e1), 
    url(https://images.unsplash.com/photo-1588561935000-047155e90925?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2574&q=80); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    /* url(https://images.unsplash.com/photo-1575052814086-f385e2e2ad1b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2670&q=80); */ 

    /* background: #334d50; 
    background: -webkit-linear-gradient(to bottom, #cbcaa5, #334d50); 
    background: linear-gradient(to bottom, #cbcaa5, #334d50);   */

}

h1{
    margin-top: 0px;
    /* color: #fff; */
    font-family: Quicksand, sans-serif;
    font-size: 2.5rem;
    font-weight: bold;  
    line-height: 0.8;
    text-align: center;
    color: #334d50;  
    height: 0px;
    padding-left: 15px;
}

.dojo-text-span{
    padding-left: 28%;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
} 

.content {
    display: flex;
    flex-direction: row;
    
    width: 600px;
    height: 600px;
    padding: 10px 20px;

    background-image: 
    linear-gradient(to bottom, rgba(203, 202, 165, 0), rgba(50, 75, 78, 0.158)),

    /* YOGA HANDS IMAGE */
    url(images/yoga.jpg); 
    background-size: cover;
    background-repeat: no-repeat;

    /* YOGA GIRL IMAGE */
    /* url(https://images.unsplash.com/photo-1575052814086-f385e2e2ad1b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2670&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */

    /* border-radius: 10px 0 0 10px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.1); */
  }

/**
* ! style rules for form section
**/

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: none;
    height: 600px;
    padding: 120px 30px 0px 30px;
    background-color: #fff;
    /* opacity: 0.9; */
    border-radius: 0 10px 10px 0; 
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.1);
}

label{
    display: block;
    margin-bottom: 10px;
}

form div input{
    width: 100%;
    height: 40px;
    border-radius: 8px;
    outline: none;
    border: 2px solid #c4c4c4;
    padding: 0 40px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

form div{
    position: relative; 
    height: 100px;
    margin-bottom: 60px;
    margin-top: -20px;
}

input:focus {
    border: 2px solid #334d50;
}


.title {
    font-size: 25px;
    font-weight: bold;
    margin-top: -50px;
    margin-bottom: -150px;
    opacity: 0.65;
} 

.question {
    font-size: .8rem;
    margin-top: 90px;
    margin-bottom: -40px;
    cursor: pointer;
} 

.sign-in {
    color: #192627;
    font-weight: bold;
}

.sign-in-btns{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    width: 100%;
    height: 0;
    margin-top: 60px;
    margin-bottom: 55px;
}

.google-btn,
.facebook-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 15px;
  width: 50%;
  height: 50px;
  border: 2px solid #c4c4c4;
  border-radius: 8px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.facebook-btn {
    background-color: #4f70b5;
    color: white;
}

.or{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.9rem;
    margin-top: -96px;
    margin-bottom: -20px;
}

.email, .username{
    margin-bottom: 20px;
}

.password {
    margin-bottom: 40px;
}

/**
* ! style rules for form icons
**/

form div i{
    position: absolute;
    padding: 10px;
    color: #c4c4c4; 
}

.failure-icon,
.error{
    color: red;
}

.success-icon{
    color: green;
}

.error{
    font-size: 14.5px;
    margin-top: 5px;
}

/* hides success and failure icons */
.failure-icon,
.success-icon{
    right: 0;
    opacity: 0;
}

/**
* ! style rules for submit button
**/

.sign-up-btn {
    margin-top: -50px;
    width: 100%;
    height: 40px;
    background-color: #334d50;
    border: 2px solid #334d50;
    border-radius: 8px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.1s ease;
    padding: 5px 0px 30px 0px;
} 

    .sign-up-btn:hover{
        opacity: 0.8;
    }

/**
* ! style rules for modal
**/
  
  .modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
    height: 55%;

    background-color: white;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
}

.show-modal {
    font-size: 2rem;
    font-weight: 600;
    padding: 1.75rem 3.5rem;
    margin: 5rem 2rem;
    border: none;
    background-color: #fff;
    color: #444;
    border-radius: 10rem;
    cursor: pointer;
}

.close-modal {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    
    top: 0.1rem;
    right: .5rem;
    font-size: 1.3rem;
    color: #333;
    cursor: pointer;
    border: none;
    background: none;
    opacity: 0.0;
}

.modal-tick-icon{
    display: flex;
    justify-content: center;
    width: 6rem;
    margin-bottom: 1rem;
    border: none;
    background: none;
}

.modal-title {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    opacity: 0.9;

}

.modal-message {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: .8rem;
    opacity: 0.7;
}

/* -------------------------- */
/* CLASSES TO MAKE MODAL WORK */
.hidden {
    /* display: none; */
  }

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
}

